* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    height: 75px;
    line-height: 75px;
    width: 100%;
    background-color: white;
}

.logo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 150px;
}

h1 {
    padding-left: 20px;
    margin: 0;
}

.sectionwrapper {
    margin: 20px 80px 0px 80px;
    display: flex;
    flex-wrap: wrap;
}

.storyboard {
    flex-grow: 1;
    flex-basis: 200px;
    background-color: none;
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin: 0 10px 0 0px;
}

.pdf {
    flex-grow: 1;
    flex-basis: 200px;
    text-align: center;
    background-color: none;
    color: white;
    font-size: 1.5em;
    margin: 0 0px 0 10px;
}

@media screen and (max-width:580px) {
    .pdf {
        margin: 0;
        text-align: left;
    }

    .storyboard {
        margin: 0;
        text-align: left;
    }
}

@media screen and (max-width:525px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width:650px) {

    .hs-responsive-embed-youtube iframe {
        position: absolute;
        width: calc(100% - 40px);
        height: 100%;
        padding: 0 20px 0 20px;
    }
}

a {
    text-decoration: none;
    color: #1ebcf8;
}

a:hover {
    color: red;
}



footer {
    bottom: 0;
    color: black;
    background-color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
}

footer p {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.hs-responsive-embed-youtube iframe,
video {
    position: absolute;
    width: calc(100% - 160px);
    height: 100%;
    padding: 0 80px 0 80px;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}
